<div class="container">
  <div class="p-5 mb-4 bg-dark rounded-3 text-white">
    <div class="container-fluid py-2">
      <h1 class="display-4 fw-bold text-center"><img style="height: 2em;" src="https://edge.form.io/template/images/formio-logo-bg.svg" /></h1>
      <h3 class="lead my-3 text-center">Community Edition Developer Portal</h3>
      <p class="lead mb-0">Welcome to the Form.io Community Edition Developer Portal. This application will allow you to create Forms and Resrources, which automatically will generate the REST API's within your own environment. All using the Form.io Open Source platform!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 p-4 text-white bg-dark rounded-3 shadow-sm">
        <div class="row no-gutters flex-md-row">
          <div class="col-9 p-4 d-flex flex-column position-static">
            <h3 class="mb-0">Form.io Help</h3>
            <p class="card-text mb-2">For more information about the Form.io Platform, as well as an overview of the
              Enterprise Features, please go to the following url.</p>
            <a href="https://help.form.io" class="btn btn-outline-light">Form.io Help Documentation</a>
          </div>
          <div class="col-3 bg-dark d-none d-lg-block text-center">
            <i class="bi bi-info-circle text-white" style="font-size: 8em;"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-4 bg-light border rounded-3 shadow-sm">
        <div class="row no-gutters flex-md-row">
          <div class="col-9 p-4 d-flex flex-column position-static">
            <h3 class="mb-0">SDK Documentation</h3>
            <p class="mb-auto">This documentation shows all of the capabilities of our Form.io JavaScript Renderer.</p>
            <a href="https://formio.github.io/formio.js/" class="btn btn-outline-dark">Form.io SDK / Renderer Documentation</a>
          </div>
          <div class="col-3 d-none d-lg-block text-center">
            <i class="bi bi-code-square" style="font-size: 8em;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>